<%- include('partials/artsheader') %>

<h1 style="margin-left: 10px;"><strong><em>What do you want to try?</em></strong></h1>

<a class="btn btn-primary mx-3 btn-lg" href="/paint" role="button">Paint</a>

<%- include('partials/footer') %>