<%- include('partials/musheader') %>

<h1 style="color: white;margin-left: 10px;"><strong><em>What do you want to try?</em></strong></h1>



<a class="btn btn-primary mx-3 btn-lg" href="/drumkit" role="button">Drum Kit</a>

<%- include('partials/footer') %>