<%- include('partials/header2') %>

<div id="loader">
  <h1>LEARN</h1>
  <h1>TEACH</h1>
  <h1>ENVIRONMENT</h1>
</div>
<div id="fixed-image"></div>
<div id="main">

  <div id="page1">
      <nav>
          <img src="css/newlogo.png"
              alt="">
          <div id="nav-part2">
              <h4><a href="#">Work</a></h4>
              <h4><a href="#">Studio</a></h4>
              <h4><a href="#">Contact</a></h4>
          </div>
          <h3>Menu</h3>
      </nav>
      <div id="center">
          <div id="left">
              <h3>EduWiz is a dynamic educational realm, weaving health into the curriculum, sculpting distinctive end-to-end scholastic experiences and environments..</h3>
          </div>
          <div id="right">
              <h1>SPACES <br>
                  THAT <br>
                  INSPIRE</h1>
          </div>

      </div>
      <div id="hero-shape">
          <div id="hero-1"></div>
          <div id="hero-2"></div>
          <div id="hero-3"></div>
      </div>
      <video autoplay loop muted src="css/video.mp4"></video>
  </div>
  <div id="page2">
      <div id="moving-text">
          <div class="con">
              <h1>EXPERIENCES</h1>
              <div id="gola"></div>
              <h1>CONTENT</h1>
              <div id="gola"></div>
              <h1>ENVIRONMENTS</h1>
              <div id="gola"></div>
          </div>
          <div class="con">
              <h1>EXPERIENCES</h1>
              <div id="gola"></div>
              <h1>CONTENT</h1>
              <div id="gola"></div>
              <h1>ENVIRONMENTS</h1>
              <div id="gola"></div>
          </div>
          <div class="con">
              <h1>EXPERIENCES</h1>
              <div id="gola"></div>
              <h1>CONTENT</h1>
              <div id="gola"></div>
              <h1>ENVIRONMENTS</h1>
              <div id="gola"></div>
          </div>
      </div>
      <div id="page2-bottom">
          <h1>We inspire learning, foster wellness, encourage teamwork, and transform innovative concepts into educational experiences. Our commitment is to accompany you at each stage, recognizing that connections are the foundation we cultivate..</h1>
          <div id="bottom-part2">
              <img src="https://uploads-ssl.webflow.com/64d3dd9edfb41666c35b15b7/64d3dd9edfb41666c35b15d1_Holding_thumb-p-500.jpg"
                  alt="">
              <p>We love to create, we love to solve, we love to collaborate, and we love to turn amazing ideas
                  into reality. We’re here to partner with you through every step of the process and know that
                  relationships are the most important things we build.</p>
          </div>
      </div>
      <div id="gooey">

      </div>
  </div>
  <div id="page3">
      <div id="elem-container">
          <div id="elem1" class="elem"
              data-image="https://media.licdn.com/dms/image/D5612AQHgexT41RxevA/article-cover_image-shrink_720_1280/0/1683291132918?e=2147483647&v=beta&t=Anrh697XDZw4lVfWjjTsL2CCMao3-8GpdmRBsvPevJA">
              <div class="overlay"></div>
              <h2>Meditation</h2>
          </div>
          <div class="elem"
              data-image="https://assets-global.website-files.com/6058ba87eec5713e5f80752a/633b17d3fef1334b6d8bf1c6_How%20to%20make%20productive%20weekly%20checkins.svg">
              <div class="overlay"></div>
              <h2>Regular Check Ins</Param></h2>
          </div>
          <div class="elem"
              data-image="https://www.cae.net/wp-content/uploads/2020/10/aprendizaje-interactivo-elearning-cursos.jpg">
              <div class="overlay"></div>
              <h2>Interactive Learning Material</h2>
          </div>
          <div class="elem"
              data-image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT06LySw9wB396WiVAmx8sZQtDicTUJqL5paWgsAg88Wyc58xMjHQDuOtSNbptVQB-SPuc&usqp=CAU">
              <div class="overlay"></div>
              <h2>Counsellor Accesss</h2>
          </div>
          <div class="elem"
              data-image="https://www.usa.edu/wp-content/uploads/2019/10/in-post-1024x1017.png">
              <div class="overlay"></div>
              <h2>Time Management Tools</h2>
          </div>
          <div class="elem"
              data-image="https://www.keystepmedia.com/wp-content/uploads/LearnersGuide-Foundational-v2-626x1024.png">
              <div class="overlay"></div>
              <h2>Emotional Intelliegence Modules</h2>
          </div>
          <div class="elem"
              data-image="https://blog.weekdone.com/wp-content/uploads/2015/11/dashboard.png">
              <div class="overlay"></div>
              <h2>Progress Tracking</h2>
          </div>
      </div>
  </div>
  <div id="page4">
    <div class="data">
        <h1>Music🎶</h1>
        <br>
        <img src="https://tse4.mm.bing.net/th?id=OIP.3D8-6Z8USU5Ykr331sf17gHaF7&pid=Api&P=0&h=180" height="150" width="150" style="margin-left: 30%;" alt="">
        <p style="font-size: 3rem;"><em>The Beatles Couldn’t Read Music</em></p>
        <a style="margin-left: 34%;" class="btn btn-light btn-lg" href="/music" role="button">Explore more</a>
        
    </div>
    <div class="data">
        <h1>Arts🎨</h1>
        <br>
        <img src="https://news.artnet.com/app/news-upload/2016/08/olympic-games.jpg" height="150" width="150" style="margin-left: 30%;" alt="">
        <br>
        <p style="font-size: 2.4rem;"><em>Art Used To Be A Competition In The Olympics</em></p>
        <a style="margin-left: 34%;" class="btn btn-light btn-lg" href="/arts" role="button">Explore more</a>
        
           </div>
    <div class="data">
        <h1>Science📡</h1>
        <br>
        <img src="https://i1.wp.com/www.learning-mind.com/wp-content/uploads/2018/01/amazing-science-facts.jpg?resize=850%2C562&ssl=1" height="150" width="150" style="margin-left: 30%;" alt="">
       
        <p style="font-size: 3rem;"><em>Blushing is a human art.</em></p>
        <a style="margin-left: 34%;" class="btn btn-light btn-lg" href="/science" role="button">Explore more</a>
          </div>

  </div>
  <div id="page5">

  </div>
  <div id="full-scr">
      <div id="full-div1">

      </div>
  </div>
</div>
<div id="footer">
  <div id="footer-div">

  </div>
  <h1><em>Happy Learning</em></h1>
  <div id="footer-bottom">

  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="script.js"></script>

  <%- include('partials/footer2') %>